@media all and (min-width: 1616px) {
	.main,
	.main-admin {
		width: 1600px !important;
	}
}

@media all and (max-width: 767px) {
	.main,
	.main-admin {
		margin-top: 0 !important;
	}

	/*BOOTSTRAP*/
	.navbar {
		margin: 0;
	}

	.navbar-fixed-top {
		position: relative;
	}

	.table-responsive {
		border: none;
	}
}