/*-------------
----GENERAL----
-------------*/

.container {
	height: inherit !important;	
	background: darkgray;
	box-shadow: 0px 0px 10px 7.5px rgba(0, 0, 0, .25);
}

.main {
	margin-top: 50px;
	min-height: 800px;
}

hr {
	margin: 10px 0;
}

/*------------
----NAVBAR----
------------*/

/*-------------
----ACCUEIL----
-------------*/

#home-banner {
	min-height: 400px;
	background: black;
}

#home-title-img p {
	text-align: center;
}

#home-last-infos article {
	min-height: 400px;
}

#home-last-bill {
	background: darkgray;
	transition: all 0s;
}

#home-last-bill a {
	text-decoration: none;
	font-weight: bold;
	color: lightblue;
	transition: all .2s;
}

#home-last-bill a:hover {

}

#home-last-bill a:link {
	
}

#home-last-bill a:active {
	
}

#home-author {
	background: white;
}

/*-------------------
----LISTE BILLETS----
-------------------*/



/*------------
----BILLET----
------------*/

#bill-title,
#bill-date {
	text-align: center;
}

#bill-title,
#comment-title {
	margin: 10px 0;
}

#comment-date {
	padding: 0 30px;
}

/*---------------
----CONNEXION----
---------------*/

.show-pass {
	cursor: pointer !important;
}

/*------------
----FOOTER----
------------*/

footer {
	min-height: 97px;
	background: linear-gradient(to bottom, #333, #222);
	color: lightgray;
	padding: 10px 15px;
}

footer #footer-info {
	text-align: center;
}