/*-------------
----GENERAL----
-------------*/

.container {
	height: inherit !important;	
	background: darkgray;
	box-shadow: 0px 0px 10px 7.5px rgba(0, 0, 0, .25);
}

.main {
	min-height: 800px;
	margin-top: 50px;	
}

hr {
	margin: 10px 0;
}

/*------------
----NAVBAR----
------------*/

/*--------------
----BANNIERE----
--------------*/

#banner {
	min-height: 400px;
	background: url('../images/a.jpg') no-repeat center;
	background-size: cover;
}

#banner-title {
	background: linear-gradient(to bottom, #ffe6ff, 50%, rgba(0,0,0,0));
	transition: all .5s;
}

#banner-title h1 {
	text-align: center;
	border: none;	
}

/*-------------
----ACCUEIL----
-------------*/

#home-author {
	background: white;
}

#home-last-bill {
	background: darkgray;
}

#home-last-bill a {
	color: lightblue;
	font-weight: bold;
	text-decoration: none;
	transition: all .2s;
}

#home-last-bill a:hover {

}

#home-last-bill a:link {
	
}

#home-last-bill a:active {
	
}

/*-------------------
----LISTE BILLETS----
-------------------*/

#billList-list {
	min-height: 430px;
}

#billList-btn {
	margin-bottom: 15px; 
	text-align: center;
}

/*------------
----BILLET----
------------*/

#bill {
	background: white;
}

#bill-title,
#bill-date {
	text-align: center;
}

#bill-navigate {
	margin-bottom: 15px;
}

#bill-title,
#comment-title {
	margin: 10px 0;
}

#comment {
	min-height: 150px;
	resize: vertical;
	overflow-x: none;
}

#comment-date {
	padding: 0 30px;
}

.flag {
	transition: all .2s;
}

.flag:hover {
	color: red;
}

/*---------------
----CONNEXION----
---------------*/

.show-pass {
	cursor: pointer !important;
}

/*------------
----FOOTER----
------------*/

footer {
	min-height: 97px;
	padding: 10px 15px;
	color: lightgray;
	background: linear-gradient(to bottom, #333, #222);
}

footer #footer-info {
	text-align: center;
}